<h1>{{spot.name}}</h1>
<br>
<h2>More infos about the Terry</h2>
<p>
<br> Price range: {{spot.price}}
<br> Location: {{spot.location.display_address}}
<br> Rating: {{spot.rating}}
<br> Comment: {{#each spot._comments}}{{content}}{{/each}}
{{#unless spot._comments}} There are no comments on this Terry yet. Login to tell us what you liked or didn't like about this place {{/unless}}
</p>
{{!-- <br> ID: {{spot._id}} --}}

{{#if user}}


<form method="POST" action="/places/detail/{{spot._id}}">
    <input type="text" name="content" placeholder="Leave a comment"><br><br>
    <label>canBringYourOwn Drinks</label><br>
    <input type="radio" name="canBringYourOwn" value="true"> Yes    
    <input type="radio" name="canBringYourOwn" value="false"> No

    <br>

    <input type="submit" name="" id="submit">
</form>

<form method="POST" action="/places/add_favourite/{{spot._id}}">
    {{!-- <button name="subject" type="submit" value="CSS">CSS</button>    --}}
  <button type="submit" >Add to my favourite spots</button>
    {{!-- <input type="submit" name="" id="submit"> --}}
</form>
{{/if}}

{{#unless user}}
<h5>
    
It seems like you are new here! <a href="/auth/signup">Create an Account</a> or <a href="/auth/login">Login</a> to leave a comment. 
</h5>
{{/unless}}
